<%= form_for(@man) do |f| %>
  <% if @man.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@man.errors.count, "error") %> prohibited this man from being saved:</h2>

      <ul>
      <% @man.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="register_form">
  <fieldset>
<legend>Please Register</legend>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password ,'Password' %><br />
    <%= f.password_field :password, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation,'Confirmation' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :idcard,'ID card' %><br />
    <%= f.text_field :idcard,:size => 40 %>
  </div>
  <div class="field">
    <%= f.label :real_name,'Real Name' %><br />
    <%= f.text_field :real_name,:size => 40 %>
  </div>
  <div class="actions">
    <%=  f.submit  %>
  </div>
</fieldset>
</div>
<% end %>
