<div class="content-body">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @man.name %>
</p>

<p>
  <b>Id:</b>
  <%= @man.id %>
</p>
<p>
	<b>Idcard:</b>
	<%= @man.idcard %>
</p>
<p>
	<b>Real name:</b>
	<%= @man.real_name %>
</p>
<p>
	<b>Email:</b>
	<%= @man.email %>
</p>

<%= link_to 'Edit', edit_man_path(@man) %> |
<%= link_to 'Back', men_path %>
</div>
