<style type="text/css">
.man_form{
	margin-left:300px;
	width:500px;
}
</style>
<div class="container">
<div class="">
	<% if flash[:alert] %>
		<p id="notice"><%= flash[:alert] %></p>
	<% end %>
          <%= simple_form_for(resource,:as => resource_name,:url => session_path(resource_name)) do |f| %>
          <%= f.input :email,:required => false,:autofocus => true %>
          <%= f.input :password, :required => false %>
          <%= f.input :remember_me,:as => :boolean if devise_mapping.rememberable? %>
          <%= f.button :submit,"sign in" %>
          <% end %>
        </div>
      </div>
