<div class="container">
	<fieldset>
		<legend>please edit</legend>
		<%= simple_form_for(@topic) do |f| %>
		<div class="row-fluid">
		<div class="span3" >
		<%= select("node","id",@nodes.map{ |node| [node.name,node.id] })  %>
		</div>
		<div class="span4">
		<%= f.text_field :title %>
		</div>
		</div>
			<%= f.text_area :body,:class => "span9"%>
		<div >
			<%= f.submit :class => "btn btn-primary" %>
			<%= link_to "back",topic_path, :class => "btn "%>
		</div>
		<% end %>
	</fieldset>
	
</div>