<%= form_for(@inform) do |f| %>
  <% if @inform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inform.errors.count, "error") %> prohibited this inform from being saved:</h2>

      <ul>
      <% @inform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
