<div class="container">
  <div class="indexer">
      <%= form_tag initpage_path,:method => :get  do %>
      <%= text_field_tag :search,params[:search] ,:class => "search_first" ,:placeholder => "请输入您的不适表现"%>
      <%= submit_tag "search",:name => nil ,:class => "btn btn-primary"%>
      <% end %>
      <%= form_tag research_path,:method => :get do %>
      <% submit_tag "research", :id => "research" ,:class => "badge badge-info" %>
      <% end %>
      <%  if cookies[:play].to_i == 1 && flash[:notice] == nil%>
      <div class="row-fluid">
        <div class="span8 offset2" >
      <div id="ask_sym" style="display:" >
      <p>您是否出现:</p>
      <h1><%= @mainkeyword %></h1>
      <% cookies[:searchtmp] = @mainkeyword %>
      <div class="btn btn-success  offset1"><%= link_to '有',yes_path %></div>
      <div class ="btn  offset1"><%= link_to '没有',no_path %></div>
    </div>
    </div>
  </div>
      <% end %>
          <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <ul>
      <label>找到约<%= @totals %>个结果</label>
      <% if @results != nil 
        @results.each do |result| %>
        <li ><%= link_to result.name, result %>:<%= result.defi %>
          <strong>症状</strong>:<%= result.symp %>
        </li>
        <% end %>
        <% else %>
      </ul>
      <p>没有找到匹配结果</p>
      <% end %>
      <div class="apple_pagination">
        <div clas="page_info">
          <%= page_entries_info @results %>
        </div>
        <%= will_paginate @results, :container => false %>
      </div>
    </div>
  </div>  
