<div class="content-body">
<div>
  <b>疾病：</b>
  <%= @disease.name %>
</div>
<div>
  <b>定义：</b>
  <%= @disease.defi %>
</div>
<div>
  <b>症状:</b>
  <%= @disease.symp %>
</div>
<div>
  <b>体征:</b>
  <%= @disease.signal %>
</div>
<div>
  <b>起因：</b>
  <%= @disease.factor %>
</div>
<div>
  <b>科：</b>
  <%= @disease.divi %>
</div>
</div>

