<div class="content-body">
<p id="notice"><%= notice %></p>

<div>
  <b>Name:</b>
  <%= @doctor.name %>
</div>

<div>
  <b>Id:</b>
  <%= @doctor.id %>
</div>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
</div>
