<div class="content">
  <div class="box">
    <%= simple_form_for(resource,:as => resource_name, :url => registration_path(resource_name, :by => :pwd), :html => { :method => :put }) do |f| %>
      <fieldset>
        <legend>修改密码</legend>
        <input type="hidden" name="user[:by]" value = "pwd">
        <%= f.input :current_password %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <div class="form-actions">
          <%= f.submit "修改密码",:class => "btn btn-success" %>
        </div>

      </fieldset>
      <% end %>
  </div>
</div>