  <!DOCTYPE html>
<html lang="en">
<meta NAME="Description" CONTENT="wilxn,健康，诊断，评价"/>
<head>
  <title>Peck</title>
  <%= stylesheet_link_tag "peck" ,:media => "all" %>
  <%= stylesheet_link_tag "bootstrap",:media => "all" %>
  <%= javascript_include_tag "bootstrap","scrollText"%>
   <!-- <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %> 
  <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script>  -->
  <%= csrf_meta_tag %> 
  <script type="text/javascript">
   // $(document).ready(function(){ alert("警告的信息jj");}); 
  </script>
</head>
<body  class="offset1">
  <div class="container-fluid">
    <div class = "row-fluid" >
      <div class="span2" style="margin-top:20px">
          <a href="/home/index"><img src="/assets/Tpeck.png" height=133 width=100 alt="Peck"></a>
        </div>
        <div class="span10">
          <div class="span9">
            <h3>为您提供科学、贴心的服务</h3>
            <p>指引您远离疾病问题，健康生活。</p>
          </div>
          <div class="span1 offset1" style="background-color:red;margin-top:20px;">
            <div class="btn-group">
              <a class="btn btn-primary" href="/login"><i class="icon-user icon-white"></i>登录</a>
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/men/new"><i class="icon-chevron-right"></i>注册</a></li>
                  <li><a href="#"><i class="icon-chevron-left"></i>登出</a></li>
                  <li class="divider"></li>
                  <li><a href="http://blog.wilxn.org"><i class="i"></i>博客</a></li>
                </ul>
              </div>
          </div>
        </div>
    </div>
    <div class="navbar">
        <ul class="nav" id="nav">
          <li  style="width:290px" ><a href="/home/index">首页</a></li>
          <li class="divider-vertical"></li> 
          <li style="width:280px"><a href="/diseases/indexer" >预诊断</a></li>
          <li class="divider-vertical"></li> 
          <li style="width:280px"><a href="/medicine/index" >药品查询</a></li>
          <li class="divider-vertical"></li> 
          <li style="width:290px"><a href="/health/index" >健康生活</a></li>
        </ul>
    </div>
     <div class="all-body">
      <%= yield %>
    </div>
</div>
</body>
</html>
