<% @informs.each do |inform| %>
			 <tr>
    			<td><%= inform.content %></td>
    			<td><%= inform.date %></td>
    			<td><%= link_to 'Show', inform %></td>
    			<td><%= link_to 'Edit', edit_inform_path(inform) %></td>
    			<td><%= link_to 'Destroy', inform, confirm: 'Are you sure?', method: :delete %></td>
  			</tr>
			<% end %>
<td valign="top" id="inform" class="fc">
				<ul id="inform" title="通知公告">
					<div id="informTitle" class="topTitle">
						<img src="/images/inform.jpg" width="180"height="70">
				  	</div>
					<li><a href="#">公告一</a></li>
					<li><a href="#">公告二</a></li>
				</ul>
				</td>

图片显示
							<li id="aboutimg">
								<img src="/images/icc.jpg" onclick="onIamge()" class="cur-display" width="400" height="300">
								<img src="/images/about1.jpg" onclick="onImage()" class="cur-hide" width="400" height="300" >
								<img src="/images/about2.jpg" onclick="onImage()" class="cur-hide" width="400" height="300">
					            	</li>

	javascript:
		window.setInterval(onImage,1000);
function onImage()
{
	var images = document.getElementById("aboutimg").getElementsByTagName("img");
	for(i=0; i<images.length; i++)
	{
		if(images[i].className == "cur-display")
		{
			images[i].className = "cur-hide";
			images[(i+1)%images.length].className = "cur-display";
			var imgwidth = images[(i+1)%images.length].width;
			var imgheight = images[(i+1)%images.length].height;
			if(imgwidth>1.33 * imgheight && imgwidth>400)
			{
				images[(i+1)%images.length].width = 400;
				images[(i+1)%images.length].height = 400*imgheight/imgwidth;
			}
			if(imgwidth<1.33 * imgheight && imgheight>300)
			{
				images[(i+1)%images.length].height = 300;
				images[(i+1)%images.length].width = 300.0*imgwidth/imgheight;
			}
			break;
		}
	}
}
</script>


				
		